<article >
  <ul 
    class="card-header"
    style=" 
      display: flex;
      justify-content:space-between;">
      <li style="list-style:none;">
        Автор: 
          {% if post.author.get_full_name %}
            <a 
              href="{% url 'group:profile' post.author.username %}"
              style="text-decoration: none; color: black; font-style: italic; ">
                {{ post.author.get_full_name }}
            </a>
          {% else %}
            <a 
              href="{% url 'group:profile' post.author.username %}"
              style="text-decoration: none; color: black; font-style: italic; ">
                {{ post.author.username }}
            </a>
          {% endif %}
      </li>
      <li style="list-style:none;">
      Дата публикации: {{ post.pub_date|date:"d E Y"  }}
    </li>
  </ul>
  <p>
    {{ post.text|linebreaks }}
  </p>
  
  <div style="display: flex; justify-content:space-between; align-items: flex-end;">
    {% if post.group %}
      {% if post.group == group %}
        <span> # {{ post.group.title }} <span>
      {% else %}
        <a 
          class="justify-content-md"
          style="
            color: grey;
            font-style: italic;
            text-decoration: none;"
          href="{% url 'group:group_list' post.group.slug %}">
          <span> # {{ post.group.title }}
        </a>
      {% endif %}
    {% else %}
      <span style='color: red'>Этой публикации нет ни в одной группе.</span>
    {% endif %}
    <button class="btn btn-primary" type="button">
      <a 
        href="{% url 'group:post_detail' post.pk %}"
        style="
          color: white;
          font-style: bold;
          text-decoration: none;">
          Подробнее 
      </a>
    </button>
  </div>
  {% if not forloop.last %}<hr>{% endif %}
</article>